<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>98610277233-9752t0nm1m541br7kn98gf31ji0t5ctp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.98610277233-9752t0nm1m541br7kn98gf31ji0t5ctp</string>
	<key>API_KEY</key>
	<string>AIzaSyD2uvVXtoKspiwNa9DQF1eRmkvc-TTnYOU</string>
	<key>GCM_SENDER_ID</key>
	<string>98610277233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.boxapp.pulseascent</string>
	<key>PROJECT_ID</key>
	<string>boxapp-87e47</string>
	<key>STORAGE_BUCKET</key>
	<string>boxapp-87e47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98610277233:ios:2e5a29f5b451873fdc64d0</string>
</dict>
</plist>